*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    max-width: 600px;
    margin : auto;
    text-align : center;
    padding-top : 10rem;
    background-color: beige;
    
}

label{
    display : block;
    font-weight : 1rem;
    font-size : 1.5rem;
    margin : 1rem;
}

input {
    padding : .5rem;
    width : 100%;
}

.btn{
    padding : .5rem;
    display: inline-block;
    margin : 1rem;
    width : 30%;
    text-align: center;
}

.givenCash , .error-msg , #balance {
    display : none;
}

.error-msg{
    width : 50%;
    margin : .5rem auto;
    text-align : center;
    border : none;
    background-color: rgb(241, 122, 122);
    padding : 1rem;
}

.card{
    border : 1px solid black;
    padding : 2rem;
    box-shadow: 10px 10px 15px rgb(196, 198, 201);
    background-color: rgb(252, 8, 199);
    border: none;
    border-radius : .5rem;
    opacity : .8;
}

table{
    border : 1px solid black;
    border-collapse : collapse;
    margin : 1rem auto;
}

td{
    border : 1px solid black;
    padding : 1rem;
}

